<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>File Uploader!!</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div id="container">
        <div class="section" id="links">
          <a href="/allprojects">All Projects</a>
          <a href="/projects">Projects</a>
        </div>

        <div class="section" id="title">
          <h1>File Uploader</h1>
        </div>

        <div class="section" id="form">
          <form action="upload" enctype="multipart/form-data" method="POST">

            <div class="form-section">
                <h2>Project Name</h2>
                <input type="text" name="projectname" placeholder="Project name" />
            </div>
            <div class="form-section">
                <h2>Project Image Upload</h2>
                <input type="file" name="images" multiple />
            </div>
            <input type="submit" value="Upload Images" />
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
